sbt-scct.iml
sbt-scct.ipr
project/boot/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/
project/plugins/src_managed/
project/plugins/target/
project/sbt_project_definition.iml
lib_managed/
target/
out/
