name: CI

on:
  push:
    paths-ignore:
      - '*.md'
    branches:
      - main
      - V2
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [ '8', '17' ]
        os: [ 'ubuntu-latest' ]

    steps:
      - name: checkout the repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: sbt/setup-sbt@v1

      - name: Set up JVM
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - name: Run tests sbt 1
        run: sbt scripted test

      - name: Run tests sbt 2
        if: "${{ matrix.java != 8 }}"
        run: sbt "++ 3.x" test

  formatting:
    runs-on: ubuntu-latest

    steps:
      - name: checkout the repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up JVM
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '11'

      - uses: sbt/setup-sbt@v1

      - name: Check Formatting
        run: sbt scalafmtSbtCheck "+ scalafmtCheckAll"
